# Data Pre-Processing

# Step 1 : Creating a table to store the selected cities along with the unique ids

In [26]:
import pandas as pd

# Define your data
city_data = pd.DataFrame({
    'city': ['amsterdam', 'barcelona', 'london', 'sandiego', 'toronto'],
    'id': [1, 2, 3, 4, 5]
})

# Display the DataFrame
print(city_data)

        city  id
0  amsterdam   1
1  barcelona   2
2     london   3
3   sandiego   4
4    toronto   5

# Step 2 : Part A - Reading listing data for the city of Amsterdam from the .csv and converting into a data frame

In [27]:
import pandas as pd

listing_amsterdam_df = pd.read_csv("/Users/aishwaryaravichandran/Documents copy/machine learning neu/assignment_one/dataset/listing/listing_amsterdam.csv")
print(listing_amsterdam_df.head())

                   id                                      listing_url  \
0             6624170             https://www.airbnb.com/rooms/6624170
1             8837071             https://www.airbnb.com/rooms/8837071
2              716107              https://www.airbnb.com/rooms/716107
3  664538756986273255  https://www.airbnb.com/rooms/664538756986273255
4             8191077             https://www.airbnb.com/rooms/8191077

        scrape_id last_scraped           source  \
0  20240905174946   2024-09-05  previous scrape
1  20240905174946   2024-09-05  previous scrape
2  20240905174946   2024-09-05  previous scrape
3  20240905174946   2024-09-06  previous scrape
4  20240905174946   2024-09-05  previous scrape

                                             name  \
0             Warm, cozy sunlighted downtown appt
1                   Cozy apartment in city center
2              Loft style home nearby city centre
3  Geweldige duurzame eco woonark op unieke plek!
4                               Old bar apartment

                                         description  \
0  2 room appt. 1.8 km from central station with ...
1  Located in Amsterdam's sweet spot. A stone's t...
2                                                NaN
3  This unique eco houseboat is located in the mo...
4  This just renovated apartment for 6 persons is...

                               neighborhood_overview  \
0                                                NaN
1                                      see the guide
2                                                NaN
3                                                NaN
4  Our apartment is situated in the centre of Ams...

                                         picture_url   host_id  ...  \
0  https://a0.muscache.com/pictures/df91da10-f7d4...  34670170  ...
1  https://a0.muscache.com/pictures/5fee12d4-61d0...  13034277  ...
2  https://a0.muscache.com/pictures/9927048/b367a...   3689867  ...
3  https://a0.muscache.com/pictures/miso/Hosting-...   7647768  ...
4  https://a0.muscache.com/pictures/miso/Hosting-...  43205475  ...

  review_scores_communication review_scores_location review_scores_value  \
0                        4.86                   4.56                4.65
1                         NaN                    NaN                 NaN
2                        4.83                   4.66                4.61
3                        5.00                   5.00                5.00
4                        4.79                   4.83                4.45

                    license instant_bookable calculated_host_listings_count  \
0  0363 3CF3 3233 3B24 6BEC                f                              1
1  0363 0C20 1768 FAAA 3556                f                              1
2  0363 0014 1E57 F097 81A5                f                              1
3  0363 468D A0A1 6595 5E39                f                              1
4                    Exempt                f                              1

  calculated_host_listings_count_entire_homes  \
0                                           1
1                                           1
2                                           1
3                                           1
4                                           0

  calculated_host_listings_count_private_rooms  \
0                                            0
1                                            0
2                                            0
3                                            0
4                                            1

  calculated_host_listings_count_shared_rooms reviews_per_month
0                                           0              0.38
1                                           0               NaN
2                                           0              1.21
3                                           0              0.04
4                                           0              2.41

[5 rows x 75 columns]

# Printing the total of no. of rows and features in the listing dataset available for Amsterdam

In [28]:
print(listing_amsterdam_df.shape)

(9659, 75)

# Step 2 : Part B - Removing unecessary columns from the listing dataframe

In [29]:
listing_amsterdam_df = listing_amsterdam_df.drop(columns=['listing_url','scrape_id','last_scraped','source','picture_url','host_url','host_response_time',
                                                          'host_response_rate','host_acceptance_rate','host_thumbnail_url','host_picture_url','neighbourhood_group_cleansed',
                                                          'calendar_updated','license','calendar_last_scraped'])

print(listing_amsterdam_df.shape)

(9659, 60)

# Step 2 : Part C - Adding the city_id field to all the records in the listing dataframe

In [30]:
amsterdam_id = city_data.loc[city_data['city'] == 'amsterdam','id'].values[0]

listing_amsterdam_df['city_id'] = amsterdam_id

print(listing_amsterdam_df.shape)

(9659, 61)

# Step 3 : Part A - Reading review data for the city of Amsterdam from the .csv and converting into a data frame

In [31]:
import pandas as pd

review_amsterdam_df = pd.read_csv("/Users/aishwaryaravichandran/Documents copy/machine learning neu/assignment_one/dataset/reviews/reviews_amstredam.csv")
print(review_amsterdam_df.head())

   listing_id    id        date  reviewer_id reviewer_name  \
0        2818  1191  2009-03-30        10952           Lam
1        2818  1771  2009-04-24        12798         Alice
2        2818  1989  2009-05-03        11869       Natalja
3        2818  2797  2009-05-18        14064       Enrique
4        2818  3151  2009-05-25        17977       Sherwin

                                            comments
0  Daniel is really cool. The place was nice and ...
1  Daniel is the most amazing host! His place is ...
2  We had such a great time in Amsterdam. Daniel ...
3  Very professional operation. Room is very clea...
4  Daniel is highly recommended.  He provided all...

# Printing the total of no. of rows and features in the review dataset available for Amsterdam

In [32]:
print(review_amsterdam_df.shape)

(440807, 6)

# Step 3 : Part B - Removing unecessary columns from the review dataframe and Adding the city_id field to all the records in the review dataframe

In [33]:
review_amsterdam_df = review_amsterdam_df.drop(columns=['reviewer_id','reviewer_name'])

review_amsterdam_df['city_id'] = amsterdam_id

print(review_amsterdam_df.shape)

(440807, 5)

# Printing the total of no. of rows and features in the listing and review dataset available for Amsterdam

In [34]:
print(listing_amsterdam_df.shape) 

print(review_amsterdam_df.shape)

(9659, 61)
(440807, 5)

# Ananlyzing the features of the listing dataframe to check if significant fields have null values

In [35]:
print(listing_amsterdam_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9659 entries, 0 to 9658
Data columns (total 61 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            9659 non-null   int64
 1   name                                          9659 non-null   object
 2   description                                   9310 non-null   object
 3   neighborhood_overview                         5469 non-null   object
 4   host_id                                       9659 non-null   int64
 5   host_name                                     9659 non-null   object
 6   host_since                                    9659 non-null   object
 7   host_location                                 8547 non-null   object
 8   host_about                                    5152 non-null   object
 9   host_is_superhost                             9549 non-null   object
 10  host_neighbourhood                            2912 non-null   object
 11  host_listings_count                           9659 non-null   int64
 12  host_total_listings_count                     9659 non-null   int64
 13  host_verifications                            9659 non-null   object
 14  host_has_profile_pic                          9659 non-null   object
 15  host_identity_verified                        9659 non-null   object
 16  neighbourhood                                 5469 non-null   object
 17  neighbourhood_cleansed                        9659 non-null   object
 18  latitude                                      9659 non-null   float64
 19  longitude                                     9659 non-null   float64
 20  property_type                                 9659 non-null   object
 21  room_type                                     9659 non-null   object
 22  accommodates                                  9659 non-null   int64
 23  bathrooms                                     5868 non-null   float64
 24  bathrooms_text                                9649 non-null   object
 25  bedrooms                                      9385 non-null   float64
 26  beds                                          5843 non-null   float64
 27  amenities                                     9659 non-null   object
 28  price                                         5869 non-null   object
 29  minimum_nights                                9659 non-null   int64
 30  maximum_nights                                9659 non-null   int64
 31  minimum_minimum_nights                        9658 non-null   float64
 32  maximum_minimum_nights                        9658 non-null   float64
 33  minimum_maximum_nights                        9658 non-null   float64
 34  maximum_maximum_nights                        9658 non-null   float64
 35  minimum_nights_avg_ntm                        9658 non-null   float64
 36  maximum_nights_avg_ntm                        9658 non-null   float64
 37  has_availability                              9349 non-null   object
 38  availability_30                               9659 non-null   int64
 39  availability_60                               9659 non-null   int64
 40  availability_90                               9659 non-null   int64
 41  availability_365                              9659 non-null   int64
 42  number_of_reviews                             9659 non-null   int64
 43  number_of_reviews_ltm                         9659 non-null   int64
 44  number_of_reviews_l30d                        9659 non-null   int64
 45  first_review                                  8632 non-null   object
 46  last_review                                   8632 non-null   object
 47  review_scores_rating                          8632 non-null   float64
 48  review_scores_accuracy                        8632 non-null   float64
 49  review_scores_cleanliness                     8631 non-null   float64
 50  review_scores_checkin                         8632 non-null   float64
 51  review_scores_communication                   8632 non-null   float64
 52  review_scores_location                        8632 non-null   float64
 53  review_scores_value                           8632 non-null   float64
 54  instant_bookable                              9659 non-null   object
 55  calculated_host_listings_count                9659 non-null   int64
 56  calculated_host_listings_count_entire_homes   9659 non-null   int64
 57  calculated_host_listings_count_private_rooms  9659 non-null   int64
 58  calculated_host_listings_count_shared_rooms   9659 non-null   int64
 59  reviews_per_month                             8632 non-null   float64
 60  city_id                                       9659 non-null   int64
dtypes: float64(19), int64(19), object(23)
memory usage: 4.5+ MB
None

# Analyzing price column as its a significant feature for future tasks

In [36]:
print(listing_amsterdam_df['price'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 9659 entries, 0 to 9658
Series name: price
Non-Null Count  Dtype
--------------  -----
5869 non-null   object
dtypes: object(1)
memory usage: 75.6+ KB
None

# Analyzing minimum_nights and maximum_nights column as its a significant feature for future tasks

In [37]:
print(listing_amsterdam_df['minimum_nights'].info())
print(listing_amsterdam_df['maximum_nights'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 9659 entries, 0 to 9658
Series name: minimum_nights
Non-Null Count  Dtype
--------------  -----
9659 non-null   int64
dtypes: int64(1)
memory usage: 75.6 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 9659 entries, 0 to 9658
Series name: maximum_nights
Non-Null Count  Dtype
--------------  -----
9659 non-null   int64
dtypes: int64(1)
memory usage: 75.6 KB
None

# Analyzing number_of_reviews and review_scores_rating column as its a significant feature for future tasks

In [38]:
print(listing_amsterdam_df['number_of_reviews'].info())
print(listing_amsterdam_df['review_scores_rating'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 9659 entries, 0 to 9658
Series name: number_of_reviews
Non-Null Count  Dtype
--------------  -----
9659 non-null   int64
dtypes: int64(1)
memory usage: 75.6 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 9659 entries, 0 to 9658
Series name: review_scores_rating
Non-Null Count  Dtype
--------------  -----
8632 non-null   float64
dtypes: float64(1)
memory usage: 75.6 KB
None

# Dropping records with null price and review score rating

In [39]:
listing_amsterdam_df = listing_amsterdam_df.dropna(subset=['price'])
listing_amsterdam_df = listing_amsterdam_df.dropna(subset=['review_scores_rating'])

# Printing the total of no. of rows and features in the listing and review dataset available for Amsterdam

In [40]:
print(listing_amsterdam_df.shape)

(5187, 61)

# Ananlyzing the features of the review dataframe to check if significant fields have null values

In [41]:
print(review_amsterdam_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440807 entries, 0 to 440806
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  440807 non-null  int64
 1   id          440807 non-null  int64
 2   date        440807 non-null  object
 3   comments    440782 non-null  object
 4   city_id     440807 non-null  int64
dtypes: int64(3), object(2)
memory usage: 16.8+ MB
None

# Removing '$' and ',' from price values and converting it to float to perform numerical statistics

In [43]:
listing_amsterdam_df['price'] = listing_amsterdam_df['price'].astype(str).replace({'\$': ''}, regex=True).replace({',':''}, regex=True).astype('float')

print(listing_amsterdam_df['price'].head())

10    269.0
31    254.0
32    203.0
34    599.0
36    109.0
Name: price, dtype: float64

# Storing the listing and review data frame into a .csv file

In [45]:
import pandas as pd

# Saving DataFrame to CSV file
listing_amsterdam_df.to_csv('/Users/aishwaryaravichandran/Documents copy/machine learning neu/assignment_one/dataset/pre_processed_listing_dataset/processed_listing_amsterdam.csv', index=False)  # index=False prevents saving the index as a column

review_amsterdam_df.to_csv('/Users/aishwaryaravichandran/Documents copy/machine learning neu/assignment_one/dataset/pre_processed_listing_dataset/processed_review_amsterdam.csv', index=False)  # index=False prevents saving the index as a column